*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --hue: 320;
    --saturation: 50%;
    --foreground-color: hsl(var(--hue), var(--saturation), 75%);
    --background-color: hsl(var(--hue), var(--saturation), 20%)
}

body {
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
}

.paddle {
    --position: 50;
    position: absolute;
    background-color: var(--foreground-color);
    top: calc(var(--position) * 1vh);
    transform: translateY(-50%);
    width: 1vh;
    height: 10vh;
}

.paddle.left {
    left: 1vw;
}

.paddle.right {
    right: 1vw;
}

.ball {
    --x: 50;
    --y: 50;
    position: absolute;
    background-color: var(--foreground-color);
    top: calc(var(--y) * 1vh);
    left: calc(var(--x) * 1vw);
    transform: translateY(-50%, -50%);
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
}

/* GAME MENU */
.game-menu {
    display: none;
    flex-direction: column;
    justify-content: center;

    position: fixed;
    top: 0; 
    left: 0;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
    background-color: rgba(0, 0, 0, .6);
    color: var(--foreground-color);
    font-size: 3rem;
    height: 60vh;
    width: 50vw;
    border: 2px solid var(--foreground-color);
    border-radius: 10px;
    text-align: center;
}

.game-menu button {
    color: var(--foreground-color);
    background-color: var(--background-color);
    font-size: 2rem;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    border-color: var(--foreground-color);
    width: 30%;
    margin: 1rem auto;
}

.game-menu button:hover {
    color: var(--background-color);
    background-color: var(--foreground-color);
    border-color: var(--background-color)
}

.game-menu.show {
    display: flex;
}

/* SCORE BOARD */
.score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 8vh;
    color: var(--foreground-color);
}

.score > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2vh;
    margin: 1vh 0;
    opacity: .5;
}

.score > :first-child {
    text-align: right;
    border-right: .5vh solid var(--foreground-color);
}